@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
}
a {
  color: black;
}
body {
  padding: 0px 10%;
}
/* nav start */
nav {
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav span {
  font-size: 22px;
  font-weight: bold;
}
.nav-links {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  gap: 30px;
}

/* nav end */
/* about start */
#about {
  height: 80vh;
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
}
.left_img img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.right_info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 230px;
  flex-direction: column;
}
.s_h {
  font-weight: bold;

  font-size: 18px;
}
.s_n {
  font-weight: bolder;

  font-size: 30px;
}
.s_f {
  font-size: 22px;
  font-weight: bold;
}
.info_btn button {
  cursor: pointer;
  padding: 10px 18px;
  border-radius: 20px;
  border: 1px solid black;
  font-weight: bold;
}
#down_cv {
  background-color: white;
  margin-right: 10px;
}
#cont_inf {
  background-color: black;
  color: white;
}
.social_icons {
  font-size: 25px;
}
.social_icons a {
  margin-left: 8px;
}
/* about end */
/* experience start */
#experience{
height: 100vh;
background-color: azure;
}
/* end experience */

/* projects */
#projects {
height: 170vh;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
#projects p {
  font-size: 13px;
  margin-bottom: 10px;
}
.title {
  font-size: 37px;
  font-weight: bold;
}
.cards-list {
  display: flex;
  justify-content: start;
  gap: 50px;
  padding: 0px 35px;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.card {
  width: 300px;
  height: 400px;
  border: 1px solid black;
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.card img {
  width: 250px;
  background-size: cover;
  border-radius: 20px;
  height: 250px;
}
.card span {
  font-weight: 700;
  font-size: 18px;
}
.buttons a {
  padding: 10px 17px;
  border-radius: 20px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  color: black;
  border: 1px solid black;
}
.buttons a:hover{
  background-color: black;
  color: white;
}
/* end projects */
/* contact start */
#contact{
  height: 100vh;
  background-color: aliceblue;
}
/* contact end */

.footer{
display: flex;
justify-content: center;
align-items: center;
height: 10vh;
background-color: rgb(224, 224, 224);
}
.footer span{
  font-size: 18px;
  font-weight: 700;
}