<!DOCTYPE html>
<html lang="en">
  <%- include('partial/head') %>
  <body class="lg:px-[8%] px-[5%]">
    <div class="continer">
      <nav class="lg:h-32 h-24 flex justify-between items-center">
        <a href="#home" class="text-[22px] font-bold">Suliman Hakimi</a>
        <div class="hidden md:flex text-lg font-bold lg:flex gap-8">
          <a href="#about">About</a>
          <a href="#experience">Experience</a>
          <a href="#projects">Projects</a>
          <a href="#contact">Contact</a>
        </div>
        <i class="fa-solid fa-bars lg:hidden md:hidden flex fa-xl cursor-pointer"></i>
      </nav>
      <div>
        <section
          id="home"
          class="lg:h-[550px] h-[450px] flex justify-center items-center gap-0 lg:gap-12"
        >
          <div>
            <img
              class="lg:w-72 lg:h-72 hidden lg:block md:block rounded-full"
              src="img/me.jpeg"
              alt=""
            />
          </div>
          <di
            class="lg:h-72 h-96 flex justify-center gap-2 items-center flex-col"
          >
            <span class="lg:text-[22px] text-[20px] font-bold">Hello, i'm</span>
            <span class="font-bold text-[34px] lg:text-[40px]"
              >Suliman Hakimi</span
            >
            <span class="lg:text-[22px] text-[20px] font-bold"
              >Frontend Developer</span
            >
            <div class="flex gap-2">
              <a
                class="cursor-pointer py-2 px-4 rounded-lg border font-bold bg-white"
                href="#"
                downlod
                >Download CV</a
              >
              <a
                class="cursor-pointer py-2 px-4 rounded-lg border font-bold bg-black text-white"
                href="mailto:afgsuliman50@gmail.com"
                >Contact Me</a
              >
            </div>
            <div class="flex gap-4">
              <a
                class=""
                href="https://www.linkedin.com/in/suliman-hakimi-6b4974298/?originalSubdomain=af"
                ><i class="fa-brands fa-linkedin fa-xl"></i
              ></a>
              <a class="" href="https://github.com/SulimanHakimi"
                ><i class="fa-brands fa-github fa-xl"></i
              ></a>
            </div>
          </di>
        </section>
        <section
          class="posts min-h-[650px] flex flex-col items-center justify-around"
        >
          <div class="pt-5 text-center">
            <p>Explore My</p>
            <span class="font-bold text-4xl">Recent posts</span>
          </div>
          <div
            class="recent-posts-card-list grid grid-cols-1 justify-items-center md:grid-cols-2 lg:grid-cols-3 my-10 w-full"
          ></div>
        </section>
        <section
          id="about"
          class="min-h-[650px] w-full flex flex-col items-center text-center justify-around"
        >
          <div class="pt-5">
            <p>Get To Know More</p>
            <span class="font-bold text-4xl">About Me</span>
          </div>
          <div
            class="w-full h-fit flex-col my-10 lg:flex-row flex justify-center items-center"
          >
            <img
              class="lg:w-[350px] lg:h-[400px] w-96 h-96 rounded-lg"
              src="/img/myPic.jpeg"
              alt=""
            />
            <div
              class="h-fit w-3/3 lg:w-3/5 flex justify-around items-center flex-col gap-5 lg:py-2 py-5"
            >
              <div
                class="h-26 flex flex-col lg:flex-row md:flex-row items-center gap-5"
              >
                <div
                  class="h-28 border-black border lg:w-64 w-80 rounded-2xl flex flex-col justify-center items-center"
                >
                  <i class="fa-solid fa-award fa-lg"> </i>

                  <p class="font-semibold mt-3">Experience</p>
                  <p class="font-medium">1+ Years</p>
                  <p class="font-medium">Frontend Development</p>
                </div>
                <div
                  class="h-28 border-black border lg:w-64 w-80 rounded-2xl flex flex-col justify-center items-center"
                >
                  <i class="fa-solid fa-graduation-cap fa-lg"></i>
                  <p class="font-semibold mt-3">Education</p>
                  <p class="font-medium">pharmacy Bachelor Student</p>
                  <p class="font-medium">High School Degree</p>
                </div>
              </div>
              <p class="text-start lg:px-8 px-2">
                Suliman Hakimi is a web developer and a pharmacy student from
                Logar, Afghanistan. He started his education in therapeutic
                medicine at Bayzid Rokhan University in 2022, but switched to
                economics at Alberoni University after one semester. In 2023, he
                decided to pursue his passion for pharmacy and enrolled in
                Cherag Medical University, where he is currently in his second
                semester. Suliman has also been learning web development since
                he graduated from high school in 2022. He has built his own
                portfolio website to showcase his projects and skills. Suliman
                is interested in creating websites that are user-friendly,
                responsive, and accessible.
              </p>
            </div>
          </div>
        </section>

        <section
          id="experience"
          class="min-h-[550px] flex flex-col items-center justify-start md:gap-14 sm:gap-10 lg:gap-14"
        >
          <div class="pt-5 text-center">
            <p>Explore My</p>
            <span class="font-bold text-4xl">Experience</span>
          </div>
          <div
            class="flex justify-center flex-col lg:flex-row md:flex-row items-center my-10 gap-10"
          >
            <div
              class="h-96 rounded-2xl md:w-80 w-96 flex justify-start py-10 gap-10 items-center flex-col border-black border"
            >
              <h1 class="text-2xl font-bold">Frontend Development</h1>
              <div
                class="experience-name-fr min-h-28 grid grid-cols-2 gap-5 px-10 w-full"
              ></div>
            </div>

            <div
              class="h-96 rounded-2xl w-96 md:w-80 flex justify-start py-10 gap-10 items-center flex-col border-black border"
            >
              <h1 class="text-2xl font-bold">Backend Development</h1>
              <div
                class="experience-name-se justify-items-start px-10 h-32 grid grid-cols-2 gap-5"
              ></div>
            </div>
          </div>
        </section>

        <section
          id="projects"
          class="min-h-[650px] flex justify-around items-center my-10 gap-10 flex-col"
        >
          <div class="pt-5 text-center">
            <p>Browse My Recent</p>
            <span class="font-bold text-4xl">Projects</span>
          </div>
          <div
            class="cards-list w-full grid md:grid-cols-2 grid-cols-1 justify-items-center lg:grid-cols-3 gap-y-5"
          ></div>
        </section>
        <section
          id="contact"
          class="min-h-[550px] flex justify-center items-center flex-col gap-7"
        >
          <div class="text-center">
            <span class="font-bold text-4xl">Contact With Me</span>
          </div>
          <div
            class="w-96 h-16 flex justify-center gap-10 lg:gap-5 items-center rounded-xl border border-black"
          >
            <div class="">
              <i class="fa-solid fa-envelope fa-lg"></i>
              <a class="font-semibold" href="mailto:afgsuliman50@gmail.com"
                >Afgsuliman50@gmail.com</a
              >
            </div>
            <div class="">
              <i class="fa-solid fa-envelope fa-lg"></i>
              <a
                class="font-semibold"
                href="https://www.linkedin.com/in/suliman-hakimi-6b4974298/?originalSubdomain=af"
                >linkedin</a
              >
            </div>
          </div>
        </section>
      </div>
      <div class="flex flex-col w-full justify-center gap-5 items-center">
        <div class="text-lg font-semibold flex gap-8">
          <a href="#about">About</a>
          <a href="#experience">Experience</a>
          <a href="#projects">Projects</a>
          <a href="#contact">Contact</a>
        </div>
        <span class="font-medium lg:text-lg text-sm"
          >Copyright © Suliman Hakimi 2024. All Rights Reserved</span
        >
      </div>
    </div>
    <script src="app.js"></script>
  </body>
</html>
